* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fondo {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fondo::before {
    content: "";
    background-image: url(/public/image/logo\ sistema\ de\ gestion.jfif);
    background-size: contain;
    filter: blur(10px);
    position: absolute;
    background-repeat: no-repeat;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;

}

nav {
    background-color: #a8a8a841;
    color: #000000;
    width: 96%;
    height: 9rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    width: 15rem;
    height: 8rem;
    background-color: rgba(122, 94, 94, 0.829);
    padding: 0.5rem;
}

#logo-img {
    object-fit: cover;
    width: 15rem;
    height: 8rem;

}

.loginSing-inLinks {
    display: flex;
    align-items: center;
    width: 15rem;
    height: 8rem;
    margin: 0.5rem;
    justify-content: space-around;
}


main {
    margin: auto;
    width: 96%;
    height: 11rem;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 11rem;
    grid-template-columns: 20% 80%;
    justify-content: space-around;
    
}

.side-bar{
    display: flex;
    flex-direction: column;
    width: 100%

}
.side-bar ol{
    list-style: none;
    padding: 8px;
    text-align: center;

}

.side-bar ol li{
    margin: 2px;
}
.side-bar ol a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.8;
}

.

.footer {
    clear: both;
    padding: 10px;
    text-align: center;
    width: 96%;
    height: 9rem;
}

